#key{
    position: fixed;
    width: 15vw;
    top: 20vh;
}
#back_button{
    position: fixed;
    left:1vh;
    top:1vh;
    width: 3vw;
}
.circle{
    position: fixed;
    left: 1vh;
    top: 1vh;
    height: 3vw;
    width: 3vw;
    background-color: #fb4934;
    border-radius: 50%;
    display: inline-block;
}

body{
    background-color: #282828;
}

#player{
    position: fixed;
    inset: 0px;
    width: 68vw;
    height:42vw;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}