h1{
    margin-top: 1vh;
    color: #89b4fa;
    position: relative;
    text-align: center;
    font-size: 4vw;
    margin-bottom: 1vh;
}
body{
    background-color: #1e1e2e;
}
h4{
    margin-top: 0px;
    position: relative;
    text-align: center;
    color: #cdd6f4;
    font-size: 2vw;
    margin-bottom: 0px;
}

p{
    margin-top: 0;
    position: relative;
    text-align: center;
    font-size: 1.5vw;
    color: #eba0ac
}

.row{
    display: flex;
}

.column{
    flex: 33.3%;
    float: left;
}

#image {
    margin-top: 0;
    width: 100%;
}

#key{
    width: 50%;
}

#transparent{
    width: 5%;
}

#back_button{
    position: fixed;
    left:1vh;
    top:1vh;
    width: 3vw;
}

.circle{
    position: fixed;
    left: 1vh;
    top: 1vh;
    height: 3vw;
    width: 3vw;
    background-color: #fab387;
    border-radius: 50%;
    display: inline-block;
}